/* 종류별 웹브라우저(크롬,파이어폭스,엣지 등)의 모든 사이즈를 초기화시키는 값 */
* {
  /* 필수 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 컨텐츠 마다 선택사항 */
  outline-style: none;
}

html {
  overflow: hidden;
}

ul {
  /* 필수 */
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.wrap {
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial,
    "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
}
